@font-face {
    font-family: Stilu;
    src: url("/assets/Stilu-Regular.otf") format("opentype");
}

/*
 * from nonk to cantsleep:
 *   the people who wrote the CSS specs regret making the decisions that led to this boilerplate
 */

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* regretful CSS boilerplate ends here */

body {
    background-image: url("/assets/background.png");
    background-position: center;
    background-size: cover;

    width: calc(min(100vw, 800px));
    min-height: 100vh;

    margin: 0 auto;
    padding: 12px 0;

    font-family: Stilu;
    font-size: 18px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    opacity: 0.6;
}

a {
    color: rgb(0, 64, 128);
}

header {
    text-align: center;
}

header img {
    min-width: 320px;
    max-width: 24vmax;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1ch;
}

#video {
    width: 24vh;
}

#links {
    font-size: 32px;
    margin: 0 auto;

    display: flex;
    flex-flow: row nowrap;
    gap: 1ch;

    width: fit-content;
}

#copying {
    margin: 0 auto;
    margin-top: 1ex;
    font-size: 80%;
}
