@font-face {
  font-family: Stilu;
  src: url("/assets/Stilu-Regular.otf") format("opentype");
}

body {
  background: url("/assets/background.png") no-repeat center center fixed;
  background-size: cover;
  margin: auto;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: Stilu;
  color: rgba(0, 0, 0, 0.5);
}

body a {
  color: rgba(0, 64, 128, 0.5);
  font-weight: bold;
}

body section {
  margin: auto;
  text-align: center;
  line-height: 1.5;
}

header img {
  width: 50%;
  opacity: 50%;
}

main div {
  margin-bottom: 10%;
}

.links {
  font-size: 200%;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
