{% extends "_base.html" %}

{% block title %}Comic{% endblock title %}
{% block description %}Comic Reader{% endblock description %}
{% block url %}comic{% endblock url %}
{% block logo %}/assets/logo_small_silhouette.png{% endblock logo %}

{% block head %}
<link rel="stylesheet" href="/comic/style.css" />
<link rel="preload" href="/assets/loading.gif" as="image" type="image/gif" />
<script defer src="/comic/comic.js"></script>
{% endblock head %}

{% block content %}
<div id="comic">
    <i id="previous" class="fa fa-arrow-left"></i>

    <div id="page-container">
        <img id="page" fetchpriority="low" />
        <div id="page-fullscreen" onclick="toggleFullscreen()"><i class="fa-solid fa-expand"></i></div>
    </div>

    <i id="next" class="fa fa-arrow-right"></i>
</div>
{% endblock content %}

{% block links %}{% endblock links %}