{% extends "_base.html" %}

{% block title %}Comic{% endblock title %}
{% block description %}Comic Reader{% endblock description %}
{% block url %}comic{% endblock url %}
{% block logo %}/assets/logo_small_silhouette.png{% endblock logo %}

{% block head %}
<link rel="stylesheet" href="/comic/style.css" />
<script type="text/javascript" src="/comic/comic.js"></script>
{% endblock head %}

{% block content %}
<div class="comic">
    <i id="previous" class="fa fa-arrow-left"></i>
    <img id="page" alt="Page" />
    <i id="next" class="fa fa-arrow-right"></i>
</div>
{% endblock content %}

{% block links %}{% endblock links %}
