body {
    opacity: 1;
}

header img {
    width: 25%;
}

#comic {
    width: max-content;
    max-height: 823px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 3ch;

    i {
        font-size: 400%;
        opacity: 0.3;
        cursor: pointer;
    }
}

#page {
    max-width: 582px;

    user-select: none;
    object-fit: contain;
    cursor: pointer;
}

#page-container {
    height: 100%;

    overflow: hidden;

    flex-shrink: 0;
    border-radius: 1em;

    background-color: white;
    background-image: url("/assets/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}

header,
footer {
    opacity: 0.6;
}
