body {
    opacity: 1;
}

header img {
    width: 48px;
}

#comic {
    margin: -5px auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 3ch;

    i {
        font-size: 400%;
        opacity: 0.3;
        cursor: pointer;
    }

    &:fullscreen {
        width: 100vw;
        height: 100vh;
        justify-content: center;

        #page {
            width: 100%;
            height: 100%;

            &-container {
                /* MAGIC NUMBER: (1240/1920)*(1080/1754)
                   Average screen is 1920x1080, comic pages are 1240x1754.

                   I don't think this is good for portrait screens but it's
                   necessary because otherwise this container will disappear
                   and throw the arrow buttons around. */
                width: 39.76624857468643vw;
                height: 100vh;
                border-radius: 0;
            }

            // nonk can decide whether or not buttons should be affected by
            // zoom on fullscreen (the page isn't)
        }
    }
}

#page {
    // Default size of a comic page is 1240x1754
    width: 1240px;
    height: 1754px;
    max-width: 100%;
    max-height: 100%;

    user-select: none;
    object-fit: contain;
    vertical-align: middle;
    cursor: pointer;

    &-container {
        position: relative;

        width: 582px;
        height: 823px;

        overflow: hidden;

        flex-shrink: 0;
        border-radius: 1em;

        background-color: white;
        background-image: url("/assets/loading.gif");
        background-repeat: no-repeat;
        background-position: center;

        &:hover #page-fullscreen {
            visibility: visible;
            cursor: pointer;
        }

        &:not(:hover) #page-fullscreen {
            visibility: hidden;
            cursor: default;
        }
    }

    &-fullscreen {
        position: absolute;
        top: 0;
        right: 0;

        padding: 8px;

        font-size: 8px;
        color: white;
        mix-blend-mode: difference;

        z-index: 100;
    }
}

#previous,
#next {
    color: white;
    mix-blend-mode: difference;

    visibility: none;
    cursor: default;
}

header,
footer {
    opacity: 0.6;
}
