{% extends "_base.html" %}

{% block title %}Homepage{% endblock title %}
{% block description %}All things Schwungus{% endblock description %}
{% block url %}{% endblock url %}

{% block content %}

<p>
    Check back soon!
    <!--<a href="comics">Looking for comics?</a>-->
</p>
<img id="video" src="/assets/video.png" alt="Video" />

{% endblock content %}