:root {
    color-scheme: only light;
}

// from nonk to cantsleep:
//   the people who wrote the CSS specs regret making the decisions that led to this boilerplate

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

// regretful CSS boilerplate ends here

#background {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    z-index: -1000;
}

body {
    width: 100%;
    min-height: 100vh;

    padding: 16px 0;

    font-family: Arial;
    font-size: 18px;
    line-height: 150%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    opacity: 0.6;
}

a {
    color: rgb(0, 64, 128);
}

main {
    margin: 16px auto;
    text-align: center;
}

#video {
    width: 240px;
}

#links {
    width: fit-content;

    font-size: 32px;

    display: flex;
    flex-flow: row nowrap;
    gap: 1ch;
    margin: 0 0 0 auto;
}

#copying {
    display: flex;
    flex-flow: row wrap;
    gap: 1ch;

    margin-top: 1ex;

    font-size: 80%;

    > p {
        margin: 0;
    }
}

header {
    margin: 1ex auto 0 2ex;
    text-align: left;

    img {
        width: 256px;
    }
}

footer {
    margin: 0 2ex 0 auto;
    text-align: right;
}

img {
    max-width: 100%;
}
