@font-face {
    font-family: Stilu;
    src: url("/assets/Stilu-Regular.otf") format("opentype");
}

// from nonk to cantsleep:
//   the people who wrote the CSS specs regret making the decisions that led to this boilerplate

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

// regretful CSS boilerplate ends here

#background {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    z-index: -1000;
}

body {
    width: fit-content;
    min-height: 100vh;

    padding: 16px 0;
    margin: 0 auto;

    font-family: Stilu;
    font-size: 18px;
    line-height: 150%;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    opacity: 0.6;
}

a {
    color: rgb(0, 64, 128);
}

header img {
    width: 360px;
}

main {
    margin: 16px auto;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1ch;
}

#video {
    width: 240px;
}

#links {
    width: fit-content;
    margin: 0 auto;

    font-size: 32px;

    display: flex;
    flex-flow: row nowrap;
    gap: 1ch;
}

#copying {
    margin: 0 auto;
    margin-top: 1ex;

    font-size: 80%;
}

header,
footer {
    text-align: center;
}
