{% extends "_base.html" %}

{% block title %}Comics{% endblock title %}
{% block description %}Comics from Schwungus{% endblock description %}
{% block url %}/comics{% endblock url %}

{% block head %}
<link rel="stylesheet" href="/comics/style.css" />
{% endblock head %}

{% block content %}

<h1>COMICS</h1>

<div class="catalog">
    <div class="series">
        <div class="series-info">
            <div>
                <img src="/comics/assets/sfusion.png" alt="S-Fusion" class="series-logo" />
            </div>

            <div class="series-info-text">
                <p>
                    The land of Dollop is home to a supernatural volcano. Many
                    know it as the <b>Wishing Well</b>.<br><br>
                    When a warrior overpowers their spirit, the volcano shall
                    erupt a bright beam of light, granting them a single wish.
                </p>
            </div>
        </div>

        <div class="chapters">
            <a href="/comic/sfusion-hunk">
                <img src="/assets/goober/hunk.png" alt="Hunk" />
                <p>HUNK QUEST</p>
            </a>

            <a href="/comic/sfusion-junktroop">
                <img src="/assets/goober/junktroop.png" alt="Junktroop" />
                <p>JUNKTROOP</p>
            </a>

            <a href="/comic/sfusion-allyn">
                <img src="/assets/goober/allyn.png" alt="Allyn" />
                <p>ALLYN POWERS</p>
            </a>

            <a href="/comic/sfusion-platinum">
                <img src="/assets/goober/platinum.png" alt="Platinum" />
                <p>PLATINUM</p>
            </a>

            <a href="/comic/sfusion-burge">
                <img src="/assets/goober/burge.png" alt="Burge" />
                <p>BURGE BERRY</p>
            </a>

            <a href="/comic/sfusion-ainz">
                <img src="/assets/goober/ainz.png" alt="Ainz" />
                <p>AINZ N. WAYE</p>
            </a>

            <a href="/comic/sfusion-sasayaku">
                <img src="/assets/goober/sasayaku.png" alt="Sasayaku" />
                <p>SASAYAKU</p>
            </a>
        </div>
    </div>
</div>

{% endblock content %}