{% extends "_base.html" %}

{% block title %}Comics{% endblock title %}
{% block description %}Comics from Schwungus{% endblock description %}
{% block url %}/comics{% endblock url %}

{% block head %}
<link rel="stylesheet" href="/comics/style.css" />
{% endblock head %}

{% block content %}

<h1>COMICS</h1>

<div class="catalog">
    <div class="series">
        <img src="/comics/assets/sfusion.png" alt="S-Fusion" class="series-logo" />

        <p>
            A supernatural volcano called the "Wishing Well" erupts twice,
            opening an opportunity for the worthy to make their one wish come
            true.
        </p>

        <div class="chapters">
            <a href="/comic/sfusion-1">
                <div class="chapter">1</div>
            </a>
            <div class="chapter chapter-wip">2</div>
            <div class="chapter chapter-wip">3</div>
        </div>
    </div>
</div>

{% endblock content %}
