main {
    flex-flow: column nowrap;

    h1 {
        margin-top: 0;
    }
}

.catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
}

.series {
    background: unset;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2em;

    margin: 0 8em;
    padding: 2em;

    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    &-logo {
        width: 45em;
    }

    &-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;

        width: 60%;
        text-align: left;

        div {
            margin: 0 1em;
        }
    }
}

.chapters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin-top: 1em;

    img {
        height: 300px;
    }

    a {
        text-decoration: none;
        font-weight: bold;

        p {
            transform: scale(1.125, 1);
        }
    }
}
