main {
    flex-flow: column nowrap;
}

.catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
}

.series {
    background: unset;
    background-color: white;
    border-radius: 10%;

    width: calc(max(25%, 240px));
    padding: 1em;

    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    &-logo {
        width: 80%;
    }
}

.chapters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin: 2em;

    a {
        text-decoration: none;
        font-weight: bold;
    }
}

.chapter {
    font-size: 200%;

    &-wip {
        opacity: 50%;
        user-select: none;
    }
}
