{% extends "_comic.html" %}

{% block title %}S-Fusion Prologue Ch.1{% endblock title %}
{% block description %}Force and Finesse - Hunk and Junktroop are about to witness the Wishing Well's second eruption.{%
endblock description %}
{% block url %}comic/sfusion-1{% endblock url %}
